h3 {
  background: #3f1467;
  padding: 13px 10px;
  color: #fff;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.wrapper {
  background-color: white;
  height: 100%;
  border-radius: 12px;
  box-shadow: 5px 5px 5px #3f1467;
}

.bi {
  font-size: 22px;
  cursor: pointer;
}
