<div>
  <input type="text" placeholder="Enter 16 digit credit card number" credit-card>
  <label tooltip="3 digits, back of your card" #myTooltip="tooltip">
    Enter your security code
    <span (mouseover)="myTooltip.show()" (mouseout)="myTooltip.hide()">
      (?)
    </span>
    <input type="text">
  </label>
</div>


<div>
  <ul>
    <li *ngFor="let item of items">{{item.name}}</li>
    <ng-template myFor [myForOf]="items" let-item let-i="index">
      <li>
        {{i}} Member : {{ item.name | json }}
      </li>
    </ng-template>
  </ul>
</div>
