/* You can add global styles to this file, and also import other style files */
button {
  border: 0px solid #fff;
  padding: 10px 25px;
  color: #fff;
  background-color: rgb(25, 25, 164);
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.tooltip {
  display: none;
}

.tooltip-active {
  display: block;
}
